[user]
	name = Marvin ROGER
	email = marvinroger@users.noreply.github.com
	signingkey = 75F7B5202C07DA5E
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = false
[pull]
	ff = only
[gpg]
	program = gpg
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
