#!/usr/bin/env bash

set -euo pipefail

GPG_KEY_ID="{{ .gpgkeyid }}"

only_macos() {
  if [[ $OSTYPE != 'darwin'* ]]; then
    echo "Not on macOS, skipping"
    exit
  fi
}

key_not_already_imported() {
  if [[ $(gpg --list-secret-keys --keyid-format=long) == *"$GPG_KEY_ID"* ]]; then
    echo "The GPG key is already imported, skipping"
    exit
  fi
}

add_gpg_key() {
  gpg --import ~/.gnupg/private.key
  expect -c "spawn gpg --edit-key $GPG_KEY_ID trust quit; send \"5\ry\r\"; expect eof"
}

only_macos
key_not_already_imported
add_gpg_key
