{{- if (eq .chezmoi.os "darwin") -}}
Host *
  AddKeysToAgent yes
  UseKeychain yes

  IdentityFile ~/.ssh/id_rsa
  IdentityAgent {{ joinPath .chezmoi.homeDir "Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh" }}
{{- else -}}
Host *
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_rsa
{{- end }}
