Host *
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_rsa

  {{- if (eq .chezmoi.os "darwin") }}
  UseKeychain yes
  IdentityAgent {{ joinPath .chezmoi.homeDir "Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh" }}
  {{ end }}
