sourceDir = {{ .chezmoi.sourceDir | quote }}
encryption = "age"

[age]
  identity = "{{ joinPath .chezmoi.homeDir "key.txt" }}"
  recipient = "age1g4785ke7hya7l30xy2hvuf25ud599qguruvjd8k0n8tumzt6z9xqjqqnh7"

[diff]
  pager = "diff-so-fancy"

{{ $codespaces:= env "CODESPACES" | not | not -}}
[data]
  codespaces = {{ $codespaces }}
