{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $machineSerialNumber := index ioreg "IORegistryEntryChildren" 0 "IOPlatformSerialNumber" -}}
{{- $hashedMachineSerialNumber := printf "%.8s" (sha256sum $machineSerialNumber) -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}
encryption: age

age:
  identity: {{ joinPath .chezmoi.homeDir "key.txt" | quote }}
  recipient: age1g4785ke7hya7l30xy2hvuf25ud599qguruvjd8k0n8tumzt6z9xqjqqnh7

diff:
  pager: diff-so-fancy

data:
  codespaces: {{ $codespaces }}
  # Variables are only accessible lowercased, so no camelCase here to avoid confusion
  machineserialnumber: {{ $machineSerialNumber }}
  hashedmachineserialnumber: {{ $hashedMachineSerialNumber }}
