[user]
  name = Marvin ROGER
  email = marvinroger@users.noreply.github.com
  # Ignore until https://github.com/github/feedback/discussions/7744 is fixed
  # signingKey = {{ if (eq .chezmoi.os "darwin") }}{{ joinPath .chezmoi.homeDir (printf ".ssh/mac-%s.pub" .hashedmachineserialnumber) }}{{ else }}{{ joinPath .chezmoi.homeDir ".ssh/id_rsa.pub" }}{{ end }}
[core]
  excludesFile = ~/.gitignore_global
  ignoreCase = false
[pull]
  ff = only
[init]
  defaultBranch = main
[merge]
  conflictStyle = diff3
[gpg]
  format = ssh
[commit]
  # gpgSign = true
[tag]
  # gpgSign = true
