[user]
  name = Marvin ROGER
  email = marvinroger@users.noreply.github.com
  signingKey = {{ joinPath .chezmoi.homeDir ".ssh/id_ed25519.pub" }}
[core]
  excludesFile = {{ joinPath .chezmoi.homeDir ".gitignore_global" }}
  ignoreCase = false
[alias]
  spring = !"git branch --merged | grep -v -E '^\\s*(^\\*.+|master|main|develop)$' | xargs git branch -d"
[pull]
  ff = only
[init]
  defaultBranch = main
[merge]
  conflictStyle = diff3
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = {{ joinPath .chezmoi.homeDir ".allowed_ssh_signers" }}
[commit]
  gpgSign = true
[tag]
  gpgSign = true
